# Node / dependency
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.log.*

# Build output
dist/
build/

# Editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Env
.env
.env.local
.env.*.local

# Misc
coverage/
*.tsbuildinfo

